{% extends "form.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ assetPath }}/css/ol.css" type="text/css">
  <link rel="stylesheet" href="{{ assetPath }}/css/map.css" type="text/css">
{% endblock %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Your location</h1>
  <p>{{data.name}}</p>
{% endblock %}

{% block form %}
  <div id="map"></div>
  {{
    govukCheckboxes({
      idPrefix: "fw-areas",
      name: "fw-areas",
      classes: "govuk-checkboxes",
      fieldset: {
        legend: {
          text: "Flood warning areas"
        }
      },
      items: data.fwaList
    })
  }}
  {{
    govukCheckboxes({
      idPrefix: "fa-areas",
      name: "fa-areas",
      classes: "govuk-checkboxes",
      fieldset: {
        legend: {
          text: "Flood alert areas"
        }
      },
      items: data.faaList
    })
  }}
  {{
    govukCheckboxes({
      idPrefix: "options",
      name: "options",
      classes: "govuk-checkboxes",
      fieldset: {
        legend: {
          text: "Optional messages"
        }
      },
      items: data.items
    })
  }}

  <!-- TODO: Don't do it like this -->
  {% if not data.hasWarning %}
    <input type="hidden" name="alerts" value="true" />
  {% endif %}
{% endblock %}


{% block afterForm %}
  {# <pre>{{ data | dump(2) }}</pre> #}
{% endblock %}

{% block scripts %}
  <script src="{{ assetPath }}/vendor/ol/proj4-2.5.0.js"></script>
  <script src="{{ assetPath }}/vendor/ol/ol.js"></script>
  <script src="{{ assetPath }}/js/map.js"></script>
  <script>
    ;(function () {
      var data = {{data | dump | safe}}

      var { x, y, xmin, xmax, ymin, ymax, fwa, faa } = data

      var geometry =  xmin
        ? `{ "type":"Polygon","coordinates":[[[${xmin},${ymin}],[${xmin},${ymax}],[${xmax},${ymax}],[${xmax},${ymin}],[${xmin},${ymin}]]]}`
        : `{ "type": "Point", "coordinates": [${x}, ${y}] }`

      var capabilities = `{{capabilities | safe}}`
      
      var areas = []
      var isSelected = false

      areas = areas.concat(faa.map(a => {
        var vectorAreaSource = new ol.source.Vector({
          features: (new ol.format.GeoJSON({
            dataProjection: 'EPSG:4326',
            featureProjection: 'EPSG:3857'
          })).readFeatures(a.geojson)
        })

        var styleAreaFunction = function (feature) {
          return new ol.style.Style({
            stroke: new ol.style.Stroke({
              width: 2,
              color: isSelected ? '#d87900' : '#f18700'
            }),
            fill: new ol.style.Fill({
              color: pattern(1, isSelected)
            })
          })
        }

        var vectorAreaLayer = new ol.layer.Vector({
          source: vectorAreaSource,
          style: styleAreaFunction
        })

        return vectorAreaLayer
      }))

      areas = areas.concat(fwa.map(a => {
        var vectorAreaSource = new ol.source.Vector({
          features: (new ol.format.GeoJSON({
            dataProjection: 'EPSG:4326',
            featureProjection: 'EPSG:3857'
          })).readFeatures(a.geojson)
        })

        var styleAreaFunction = function (feature) {
          return new ol.style.Style({
            stroke: new ol.style.Stroke({
              width: 2,
              color: isSelected ? '#b6000c' : '#e3000f'
            }),
            fill: new ol.style.Fill({
              color: pattern(2, isSelected)
            })
          })
        }

        var vectorAreaLayer = new ol.layer.Vector({
          source: vectorAreaSource,
          style: styleAreaFunction
        })

        return vectorAreaLayer
      }))
    
      window.XWS.map(geometry, 'map', capabilities, '', areas)

      const pattern = (severity, isSelected) => {
        // const pixelRatio = window.devicePixelRatio
        const canvas = document.createElement('canvas')
        const context = canvas.getContext('2d')
        if (severity === 3) {
          canvas.width = 10
          canvas.height = 10
          isSelected ? context.fillStyle = '#B6000C' : context.fillStyle = '#E3000F'
          context.fillRect(0, 0, 10, 10)
          context.beginPath()
          context.lineCap = 'square'
          isSelected ? context.strokeStyle = '#C1666C' : context.strokeStyle = '#F17F87'
          context.lineWidth = 1
          context.moveTo(0, 0)
          context.lineTo(10, 10)
          context.stroke()
          context.moveTo(0, 10)
          context.lineTo(10, 0)
          context.stroke()
        } else if (severity === 2) {
          canvas.width = 7
          canvas.height = 7
          isSelected ? context.fillStyle = '#C1666C' : context.fillStyle = '#F17F87'
          context.fillRect(0, 0, 7, 7)
          context.beginPath()
          context.lineCap = 'square'
          isSelected ? context.strokeStyle = '#B6000C' : context.strokeStyle = '#E3000F'
          context.lineWidth = 6
          context.moveTo(3, 0)
          context.lineTo(3, 10)
          context.stroke()
        } else if (severity === 1) {
          canvas.width = 10
          canvas.height = 10
          isSelected ? context.fillStyle = '#DEAF72' : context.fillStyle = '#F8C37F'
          context.fillRect(0, 0, 10, 10)
          context.beginPath()
          context.lineCap = 'square'
          isSelected ? context.strokeStyle = '#D87900' : context.strokeStyle = '#F18700'
          context.lineWidth = 6
          context.moveTo(0, 5)
          context.lineTo(5, 0)
          context.stroke()
          context.moveTo(5, 10)
          context.lineTo(10, 5)
          context.stroke()
        } else if (severity === 4) {
          canvas.width = 7
          canvas.height = 7
          isSelected ? context.fillStyle = '#929597' : context.fillStyle = '#B7BBBD'
          context.fillRect(0, 0, 7, 7)
          context.beginPath()
          context.lineCap = 'square'
          isSelected ? context.strokeStyle = '#595F62' : context.strokeStyle = '#6F777B'
          context.lineWidth = 6
          context.moveTo(0, 3)
          context.lineTo(10, 3)
          context.stroke()
        }
        context.restore()
        return context.createPattern(canvas, 'repeat')
      }
    })()
  </script>
{% endblock %}
