{% extends "two-thirds.html" %}

{% block twoThirds %}
<span class="govuk-caption-l">{{ contact }}</span>
<h1 class="govuk-heading-l">Your information</h1>
<p>
  You can remove the areas below if you are no longer interested
  in getting flood warning information for that area.
</p>
{{ govukTable({
  firstCellIsHeader: false,
  head: [
    { text: "Area" },
    { text: "Action" }
  ],
  rows: rows
}) }}

<a class="govuk-button" href="/find-location">Add area</a>
<a class="govuk-button" href="/logout">Sign out</a>
{% endblock %}
