{% extends "form.html" %}

{% block form %}
{{
  govukRadios({
    id: "contactType",
    name: "contactType",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "How do you currently get flood warnings?" if data.signin
          else "How would you like to get flood warnings?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      html:
       "You will need access to this contact, as we will send you a code."
    },
    items: [
      { value: "phone", text: "Telephone or text" },
      { value: "email", text: "Email" }
    ],
    errorMessage: errors.contactType
  }) 
}}
{% endblock %}

{% block afterForm %}
<p>If you are unsure of your contact, or no longer have access to a registered contact, please call Floodline for
  assistance.</p>
{% include "partials/floodline.html" %}
{% endblock %}