{% extends "form.html" %}

{% set formSubmitButtonText = "Save" %}

{% block styles %}
<link rel="stylesheet" href="{{ assetPath }}/css/ol.css" type="text/css">
<link rel="stylesheet" href="{{ assetPath }}/css/map.css" type="text/css">
{% endblock %}

{% block beforeForm %}
<span class="govuk-caption-l">{{ data.contact }}</span>
<h1 class="govuk-heading-l">Area</h1>
<p>{{data.area_name}}</p>
{% endblock %}

{% block form %}

{{ govukCheckboxes({
  idPrefix: "options",
  name: "options",
  classes: "govuk-checkboxes",
  fieldset: {
    legend: {
      text: "Optional messages"
    }
  },
  items: data.items
}) }}

<!-- <input name="name" type="hidden" value="{{data.name}}" /> -->
{% endblock %}

{% block afterForm %}
<form method="post" action="/contact">
  <input type="hidden" name="locationId" value="{{data.subscriptionId}}" />
  <input type="hidden" name="name" value="{{data.name}}" />
  <button class="govuk-button govuk-button--danger">Remove</button>
</form>
{# <pre>{{ data | dump(2) }}</pre> #}
{% endblock %}
