{% extends "form.html" %}

{% block form %}
{{
  govukInput({
    id: "location",
    name: "location",
    label: {
      text: pageHeading,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      html: "Enter a postcode or the name of a village, town or city and we will check to see if we monitor the location."
    },
    classes: "govuk-input--width-20",
    attributes: {
      placeholder: "E.g. Weymouth or SW1A 1AA"
    },
    value: data.location,
    errorMessage: errors.location
  })
}}
<input type="hidden" name="_form" value="location" />
{% endblock %}