{% extends "two-thirds.html" %}

{% block twoThirds %}
{% if errorList.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorList
  }) }}
{% endif %}

{% block beforeForm %}
{% endblock %}

<form method="post" action="{{formAction | default("")}}" novalidate>
  {% block form %}
  {% endblock %}

  {% block button %}
    {{ govukButton({ text: formSubmitButtonText | default("Continue") }) }}
  {% endblock %}
</form>

{% block afterForm %}
{% endblock %}

{% endblock %}