{% extends "two-thirds.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block twoThirds %}
  <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
  
  <p>Use this free service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>get flood warnings by text message, email or automated telephone message</li>
    <li>edit or remove contact information you have already registered.<br>To sign in, <a href="/email">click here</a>
    </li>
  </ul>
  
  <p>This service will tell you when a flood from rivers, the sea, or groundwater is expected in a
    flood risk area in England.</p>
  <p>You will get updates about changes to the flood situation. This might be information about higher
    water levels, or if an earlier start to the flood is expected.</p>
  <p>This service does not cover surface water flooding.</p>
  <p>Signing up takes around 10 minutes.</p>

  {{
    govukButton({
      text: "Start now",
      href: "/postcode",
      isStartButton: true
    })
  }}

  <h2 class="govuk-heading-m">Before you start</h2>
  <p>You will need an email address.</p>
  <p>You may need a phone number you can be contacted on day or night.</p>
  <p><a href="https://get-flood-warnings.herokuapp.com/v5/subscribe-journey/not-england">Flood warnings for Scotland,
      Wales and Northern Ireland.</a></p>

  <h2 class="govuk-heading-m">Other ways to get flood warnings</h2>

  {% include "partials/floodline.html" %}
{% endblock %}

{% block oneThird %}
  <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
    <nav aria-labelledby="subsection-title" role="navigation">
      <ul class="govuk-list govuk-body-s">
        <li>
          <a href="https://check-for-flooding.service.gov.uk">Check for flooding in England</a>
        </li>
        <li>
          <a href="https://check-for-flooding.service.gov.uk/river-and-sea-levels">River and sea levels in England</a>
        </li>
      </ul>
    </nav>
  </aside>
{% endblock %}
