{% extends "form.html" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Flood warning locations</h1>
  <dl class="govuk-summary-list">
    {% for location in data.locations %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          {{ location.name }}
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state"
            href="/confirm-remove/{{ location.id }}">
            Remove<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
    {% endfor %}
  </dl>
  <p>
    <a class="govuk-link--no-visited-state" href="/postcode">Add another location</a>
  </p>
{% endblock %}

{% block form %}
  <hr class="govuk-section-break govuk-section-break--xl">
  {{ govukRadios(fields.severity) }}
{% endblock %}


{% block afterForm %}
  {# <pre>{{ data | dump(2) }}</pre> #}
{% endblock %}
