{% extends "form.html" %}

{% block beforeForm %}
<h1 class="govuk-heading-l">{{ pageHeading }}</h1>
{% endblock %}

{% block form %}
<div class="govuk-form-group">
  <span class="govuk-label">Place</span>
  <p class="govuk-body">
    <strong id="place">{{ data.name }}</strong>
    <a href="/location" class="govuk-link">Change</a>
  </p>
</div>

{{ govukSelect(fields.place) }}
<input type="hidden" name="_form" value="place" />
<input type="hidden" name="name" value="{{data.name}}" />
{% endblock %}
